<div class="d-flex justify-content-center">
    <div class="row mt-3" style="width: 70%">
        <div class="col-12 mb-3">
            <h1 class="fw-bold text-center text-decoration-underline mt-2 mb-4 fs-5">CREAR NUEVA CATEGORÍA</h1>
        </div>
        <form class="needs-validation was-validated" action="./index.php" method="post" enctype="multipart/form-data">
            <input class="form-control" type="text" id="accion" name="accion" value="crearNuevaCategoria" hidden>
            <div class="col-12 mt-3 mb-3">
                <label class="fw-bold form-label" for="nombre">Nombre de la categoría:</label>
                <input class="form-control" type="text" id="nombre" name="nombre"  required>
                <div class="invalid-feedback">
                    Introduzca un nombre para la categoría.
                </div>
            </div>
            <div class="col-12 mt-3 mb-3">
                <label class="fw-bold form-label" for="descripcion">Descripción:</label>
                <textarea class="form-control" id="descripcion" name="descripcion" rows="10" required></textarea>
                <div class="invalid-feedback">
                    Introduzca una descripción para la categoría.
                </div>
            </div>
            <div class="col-12 mt-3 mb-3">
                <label class="fw-bold form-label" for="imgCategoria">Imagen de la categoría:</label>
                <input class="form-control" type="file" id="imgCategoria" name="imgCategoria" accept="image/png, image/gif, image/jpeg, /image/jpg" aria-label="imagen_categoria" required>
                <div class="invalid-feedback">
                    Añada una imagen para la categoría.
                </div>
            </div>
            <div class="col-12 d-flex justify-content-center">
                <button class="btn btn-primary m-4 fw-bold" type="submit" id="crear_categoria">Crear categoría</button>
            </div>
        </form>
    </div>
</div>