<div class="col-12 mt-3 mb-3">
    <h1 class="fw-bold text-center text-decoration-underline mt-2 mb-4 fs-5">CATEGORÍAS DE SERVICIOS</h1>
</div>
<div class="col-12" id="lista_categorias">
    <ul>
        ##filaCategoria##
        <li>
            <div class="card tarjeta_categoria mt-4 mb-4">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="../imagenes/##imagenCategoria##" class="img-fluid rounded-start" alt="imagen familia">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">##nombreCategoria##</h5>
                            <p class="card-text">##categoriaDescripcion##</p>
                            <button onclick="eliminarCategoria();" class="btn btn-danger" type="button">Eliminar</button>
                            <button onclick="obtenerCambiarCategoria();" class="btn btn-primary" type="button">Cambiar</button>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        ##filaCategoria##
    </ul>
</div>
<div class="col-12 d-flex justify-content-center">
    <button onclick="crearNuevaCategoria();" class="btn btn-primary m-4 fw-bold" type="button" id="crear_nueva_categoria">Crear nueva categoría</button>
</div>