<div class="d-flex justify-content-center">
    <div class="row mt-3" style="width: 70%">
        <div class="col-12 mb-3">
            <h1 class="fw-bold text-center text-decoration-underline mt-2 mb-4 fs-5">MODIFICAR DATOS DE LA PÁGINA WEB</h1>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 mt-3 mb-3" >
            <p class="fw-bold text-center">Nombre de la página web: </p>
            <p class="ms-5 text-center">##nombrePaginaWeb##</p>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 mt-3 mb-3" >
            <p class="fw-bold text-center">Imagen para el logo de la pagina web: </p>
            <div class="d-flex justify-content-center">
                <img src="../imagenes/##imagenLogo##" class="d-inline-block align-text-top" alt="logo_pagina" width="25%" height="auto">
            </div>
        </div>
        <div class="col-12 mt-3 mb-3">
            <p class="fw-bold text-center">Descripción: </p>
            <p class="ms-5 text-center">##descripcionPaginaWeb##</p>
        </div>
        <div class="col-12 mt-3 mb-3">
            <p class="fw-bold text-center">Imagen para la descripción de la pagina web: </p>
            <div class="d-flex justify-content-center">
                <img src="../imagenes/##imagenDescripcion##" class="img-fluid rounded-start" alt="imagen_descripcion" width="50%" height="auto">
            </div>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <button onclick="obtenerModificarDatos();" class="btn btn-primary m-4 fw-bold" type="button" id="modificar_datos_pagina">Modificar datos</button>
        </div>
    </div>
</div>