<div class="d-flex justify-content-center">
    <div class="row mt-3" style="width: 70%">
        <div class="col-12 mb-3">
            <h1 class="fw-bold text-center text-decoration-underline mt-2 mb-4 fs-5">CREAR NUEVA CATEGORÍA</h1>
        </div>
        <form action="./index.php" method="post" enctype="multipart/form-data">
            <div class="col-12 mt-3 mb-3">
                <label class="fw-bold form-label" for="nombre_categoria">Nombre de la categoría:</label>
                <input class="form-control" type="text" id="nombre_categoria" name="nombre_categoria"  value="##nombreCategoria##" required>
                <div class="invalid-feedback">
                    Introduzca un nombre para la categoría.
                </div>
            </div>
            <div class="col-12 mt-3 mb-3">
                <label class="fw-bold form-label" for="descripcion_categoria">Descripción:</label>
                <textarea class="form-control" id="descripcion_categoria" name="descripcion_categoria" rows="10" required>##descripcionCategoria##</textarea>
                <div class="invalid-feedback">
                    Introduzca una descripción para la categoría.
                </div>
            </div>
            <div class="col-12 mt-3 mb-3">
                <label class="fw-bold form-label" for="imagen_categoria">Imagen de la categoría:</label>
                <input class="form-control" type="file" id="imagen_categoria" name="imagen_categoria" accept="image/png, image/gif, image/jpeg, /image/jpg" aria-label="imagen_categoria">
                <div class="invalid-feedback">
                    Añada una imagen para la categoría.
                </div>
            </div>
            <div class="col-12 d-flex justify-content-center">
                <button class="btn btn-primary m-4 fw-bold" type="submit" id="guardar_datos_categoria">Guardar datos</button>
            </div>
        </form>
    </div>
</div>