<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>##tituloWeb##</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style>
        body{
            background-color: #faf3dd;
        }

        .registerform{
            background-color: #ffa69e;
        }

        #botonRegistrar{
            color: black;
            background-color: #b8f2e6;
        }
        #botonRegistrar:hover{
            background-color: #8ab8ad;
        }
        #fvehiculolabel{
            color: black;
        }
        .navbar {
            background-color: #aed9e0;
        }
    </style>
</head>
<body>
##header##
<div class="container-fluid mt-4 justify-content-md-center w-75 pt-3 pb-2 registerform">
    <div id="notificacion"></div>
    <form class="row g-3 was-validated" action="../controller/Controller.php" id="formuRegistro" method="post" enctype="multipart/form-data">
        <input type="text" name="accion" value="editarPerfil" hidden>
        <div class="row justify-content-md-center mt-3">
            <div class="col-lg-3">
                <h1>Editar Perfil</h1>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <label for="fDireccion" class="form-label">Dirección (Calle, portal y piso)</label>
            <input value="##valorDireccion##" name="direccion" type="text" class="form-control" id="fDireccion" placeholder="C/Ejemplo, nº11, 1ºdcha" required>
            <div class="valid-feedback">Válido.</div>
            <div class="invalid-feedback">Por favor, escriba una dirección.</div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <label for="comunidad_autonoma" class="form-label">Comunidad Autónoma</label>
            <select onchange="cargarprovincias();" name="cAutonoma" id="comunidad_autonoma" class="form-select" required>
                ##filaComunidadAutonoma##
                <option value=##id_comunidad_autonoma## ##selected##>##comunidad_autonoma##</option>
                ##filaComunidadAutonoma##
            </select>
            <div class="valid-feedback">Válido.</div>
            <div class="invalid-feedback">Indique una Comunidad Autónoma válida.</div>
        </div>
        <div id="capaProvincias" class=" col-lg-3 col-md-6 col-sm-12">
            <label for="provincia" class="form-label">Provincia</label>
            <select onchange="cargarpoblaciones();" name="provincia" id="provincia" class="form-select" required>
                ##filaProvincia##
                <option value=##id_provincia## ##selected##>##provincia##</option>
                ##filaProvincia##
            </select>
            <div class="valid-feedback">Válido.</div>
            <div class="invalid-feedback">Indique una Provincia válida.</div>
        </div>
        <div id="capaPoblaciones" class=" col-lg-3 col-md-6 col-sm-12">
            <label for="poblacion" class="form-label">Municipio</label>
            <select name="poblacion" id="poblacion" class="form-select" required>
                ##filaPoblacion##
                <option value=##id_poblacion## ##selected##>##poblacion##</option>
                ##filaPoblacion##
            </select>
            <div class="valid-feedback">Válido.</div>
            <div class="invalid-feedback">Indique una Poblacion válida.</div>
        </div>
        <div class="col-md-6">
            <label for="fFoto" class="form-label">Imagen de Perfil (No seleccionar para mantener la actual)</label>
            <input name="imgPerfil" id="fFoto" type="file" class="form-control" accept="image/png, image/gif, image/jpeg, /image/jpg" aria-label="imagen">
            <div class="valid-feedback">Válido.</div>
            <div class="invalid-feedback">Por favor, añada una imagen para su perfil.</div>
        </div>
        <div class="col-md-4">
            <img src="../imagenes/fotosperfil/##fotoperfil##" class="rounded mx-auto " style="max-height: 110px" alt="foto perfil">
        </div>

        <div class="col-md-7 col-sm-12">
            <label for="fDisp" class="form-label">Disponibilidad horaria (Mantener de 00:01 a 00:01 para indicar que no trabaja)</label>
            <table id="fDisp" class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Dia</th>
                        <th scope="col">Hora Inicial</th>
                        <th scope="col">Hora Final</th>
                    </tr>
                    <tr>
                        <th scope="col">Lunes</th>
                        <td>
                            <select name="lunesIni" id="fLunesIni" class="form-select">
                                ##lunesIni##
                            </select>
                        </td>
                        <td>
                            <select name="lunesFin" id="fLunesFin" class="form-select">
                                ##lunesFin##
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th scope="col">Martes</th>
                        <td>
                            <select name="martesIni" id="fMartesIni" class="form-select">
                                ##martesIni##
                            </select>
                        </td>
                        <td>
                            <select name="martesFin" id="fMartesFin" class="form-select">
                                ##martesFin##
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th scope="col">Miércoles</th>
                        <td>
                            <select name="miercolesIni" id="fMiercolesIni" class="form-select">
                                ##miercolesIni##
                            </select>
                        </td>
                        <td>
                            <select name="miercolesFin" id="fMiercolesFin" class="form-select">
                                ##miercolesFin##
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th scope="col">Jueves</th>
                        <td>
                            <select name="juevesIni" id="fJuevesIni" class="form-select">
                                ##juevesIni##
                            </select>
                        </td>
                        <td>
                            <select name="juevesFin" id="fJuevesFin" class="form-select">
                                ##juevesFin##
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th scope="col">Viernes</th>
                        <td>
                            <select name="viernesIni" id="fViernesIni" class="form-select">
                                ##viernesIni##
                            </select>
                        </td>
                        <td>
                            <select name="viernesFin" id="fViernesFin" class="form-select">
                                ##viernesFin##
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th scope="col">Sábado</th>
                        <td>
                            <select name="sabadoIni" id="fSabadoIni" class="form-select">
                                ##sabadoIni##
                            </select>
                        </td>
                        <td>
                            <select name="sabadoFin" id="fSabadoFin" class="form-select">
                                ##sabadoFin##
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th scope="col">Domingo</th>
                        <td>
                            <select name="domingoIni" id="fDomingoIni" class="form-select">
                                ##domingoIni##
                            </select>
                        </td>
                        <td>
                            <select name="domingoFin" id="fDomingoFin" class="form-select">
                                ##domingoFin##
                            </select>
                        </td>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="col-12">
            <label for="fExperiencia" class="form-label">Experiencia</label>
            <textarea name="experiencia" class="form-control mt-3" id="fExperiencia" rows="10" required>##valueDescripcion##</textarea>
            <div class="valid-feedback">Válido.</div>
            <div class="invalid-feedback">Por favor escriba su experiencia laboral.</div>
        </div>
        <div class="col-md-12">
            <div class="form-check">
                <input name="vehiculo" class="form-check-input" type="checkbox" id="fvehiculo" ##checked##>
                <label class="form-check-label" for="fvehiculo" id="fvehiculolabel">
                    Vehículo Propio (La casilla marcada indica que dispone de el)
                </label>
            </div>
        </div>
        <div class="row justify-content-md-center mt-3">
            <div class="col-sm-12 col-lg-3">
                <input type="submit" class="btn btn-dark btn-lg" id="botonRegistrar" style="padding-left: 2.5rem; padding-right: 2.5rem;" value="Editar perfil">
                <button id="carga" class="btn btn-primary" type="button" disabled>
                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                    <span class="visually-hidden">Loading...</span>
                </button>
            </div>
        </div>
    </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script type="text/javascript">
    document.getElementById("carga").style.display = "none";

    function cargarprovincias(){
        var valor = $("#comunidad_autonoma option:selected" ).val();
        $.ajax({
            type: "GET",
            url: "../controller/Controller.php?accion=obtenerProvincias&id=" + valor,
            success: function (response) {
                $("#capaProvincias").html(response);
                cargarpoblaciones();
            }
        });
    }

    function cargarpoblaciones(){
        var valor = $("#provincia option:selected" ).val();
        $.ajax({
            type: "GET",
            url: "../controller/Controller.php?accion=obtenerPoblaciones&id=" + valor,
            success: function (response) {
                $("#capaPoblaciones").html(response);
            }
        });
    }

    $('#formuRegistro').on('submit', function() {
        if ($('#fcontrasena').val() !== $('#frepcontrasena').val()){
            $('#frepcontrasena').val("");
            window.location.hash = '#fcontrasena';
            return false;
        }

        let inicio_arr = $('#fLunesIni').val().split(":");
        let final_arr = $('#fLunesFin').val().split(":");
        let inicio = inicio_arr[0];
        let final = final_arr[0];
        if (inicio > final){
            $( "#notificacion" ).append( "<div class=\"alert alert-danger alert-dismissible fade show\" role=\"alert\">\n" +
                "  El <strong>lunes</strong> no puede terminar de trabajar antes de empezar.\n" +
                "  <button type=\"button\" class=\"btn-close\" data-bs-dismiss=\"alert\" aria-label=\"Close\"></button>\n" +
                "</div>");
            window.location.hash = '#notificacion';
            return false;
        }
        inicio_arr = $('#fMartesIni').val().split(":");
        final_arr = $('#fMartesFin').val().split(":");
        inicio = inicio_arr[0];
        final = final_arr[0];
        if (inicio > final){
            $( "#notificacion" ).append( "<div class=\"alert alert-danger alert-dismissible fade show\" role=\"alert\">\n" +
                "  El <strong>martes</strong> no puede terminar de trabajar antes de empezar.\n" +
                "  <button type=\"button\" class=\"btn-close\" data-bs-dismiss=\"alert\" aria-label=\"Close\"></button>\n" +
                "</div>");
            window.location.hash = '#notificacion';
            return false;
        }
        inicio_arr = $('#fMiercolesIni').val().split(":");
        final_arr = $('#fMiercolesFin').val().split(":");
        inicio = inicio_arr[0];
        final = final_arr[0];
        if (inicio > final){
            $( "#notificacion" ).append( "<div class=\"alert alert-danger alert-dismissible fade show\" role=\"alert\">\n" +
                "  El <strong>miercoles</strong> no puede terminar de trabajar antes de empezar.\n" +
                "  <button type=\"button\" class=\"btn-close\" data-bs-dismiss=\"alert\" aria-label=\"Close\"></button>\n" +
                "</div>");
            window.location.hash = '#notificacion';
            return false;
        }
        inicio_arr = $('#fJuevesIni').val().split(":");
        final_arr = $('#fJuevesFin').val().split(":");
        inicio = inicio_arr[0];
        final = final_arr[0];
        if (inicio > final){
            $( "#notificacion" ).append( "<div class=\"alert alert-danger alert-dismissible fade show\" role=\"alert\">\n" +
                "  El <strong>jueves</strong> no puede terminar de trabajar antes de empezar.\n" +
                "  <button type=\"button\" class=\"btn-close\" data-bs-dismiss=\"alert\" aria-label=\"Close\"></button>\n" +
                "</div>");
            window.location.hash = '#notificacion';
            return false;
        }
        inicio_arr = $('#fViernesIni').val().split(":");
        final_arr = $('#fViernesFin').val().split(":");
        inicio = inicio_arr[0];
        final = final_arr[0];
        if (inicio > final){
            $( "#notificacion" ).append( "<div class=\"alert alert-danger alert-dismissible fade show\" role=\"alert\">\n" +
                "  El <strong>viernes</strong> no puede terminar de trabajar antes de empezar.\n" +
                "  <button type=\"button\" class=\"btn-close\" data-bs-dismiss=\"alert\" aria-label=\"Close\"></button>\n" +
                "</div>");
            window.location.hash = '#notificacion';
            return false;
        }
        inicio_arr = $('#fSabadoIni').val().split(":");
        final_arr = $('#fSabadoFin').val().split(":");
        inicio = inicio_arr[0];
        final = final_arr[0];
        if (inicio > final){
            $( "#notificacion" ).append( "<div class=\"alert alert-danger alert-dismissible fade show\" role=\"alert\">\n" +
                "  El <strong>martes</strong> no puede terminar de trabajar antes de empezar.\n" +
                "  <button type=\"button\" class=\"btn-close\" data-bs-dismiss=\"alert\" aria-label=\"Close\"></button>\n" +
                "</div>");
            window.location.hash = '#notificacion';
            return false;
        }
        inicio_arr = $('#fDomingoIni').val().split(":");
        final_arr = $('#fDomingoFin').val().split(":");
        inicio = inicio_arr[0];
        final = final_arr[0];
        if (inicio > final){
            $( "#notificacion" ).append( "<div class=\"alert alert-danger alert-dismissible fade show\" role=\"alert\">\n" +
                "  El <strong>domingo</strong> no puede terminar de trabajar antes de empezar.\n" +
                "  <button type=\"button\" class=\"btn-close\" data-bs-dismiss=\"alert\" aria-label=\"Close\"></button>\n" +
                "</div>");
            window.location.hash = '#notificacion';
            return false;
        }

        document.getElementById("carga").style.display = "inline";
        document.getElementById("botonRegistrar").disabled = true;

        /*
        $(':input','#formuRegistro')
            .not(':button, :submit, :reset, :hidden')
            .val('')
            .prop('checked', false)
            .prop('selected', false);
         */
        return true;
    });
</script>
</body>
</html>