<ul>
    ##filaServicio##
    <li class="d-flex justify-content-center mt-4">
        <div class="card mb-3 p-3 tarjeta_contenido" style="max-width: 100%">
            <div class="row g-0">
                <div class="card-body">
                    <h5 class="card-title fw-bold fs-3">##nombreServicio##</h5>
                    <a class="card-text fw-bold fs-5 nombre_usuario" href="../controller/Controller.php?accion=abrirPerfil&id=##idUsuarioServicio##">##usuarioServicio##</a>
                    <div class="container">
                        <div class="row">
                            <div class="mt-2 mb-4">
                                <p class="card-text fw-bold">Descripción:</p>
                                <p class="card-text ms-3">##descripcionServicio##</p>
                            </div>
                            <div class="col-lg-4 col-sm-12 mt-2 d-flex justify-content-center mt-2">
                                <p class="card-text fw-bold">Fecha:</p>
                                <p class="card-text ms-3">##fechaPublicacionServicio##</p>
                            </div>
                            <div class="col-lg-4 col-sm-12 mt-2 d-flex justify-content-center mt-2">
                                <p class="card-text fw-bold">Localización:</p>
                                <p class="card-text ms-3">##localizacionServicio##</p>
                            </div>
                            <div class="col-lg-4 col-sm-12 mt-2 d-flex justify-content-center mt-2">
                                <p class="card-text fw-bold">Precio:</p>
                                <p class="card-text ms-3">##precioServicio## €/hora</p>
                            </div>
                        </div>
                    </div>
                    <a type="button" class="btn btn-primary p-2 mt-4 fw-bold float-end ver_servicio" href="../controller/Controller.php?accion=abrirServicio&id=##idServicio##">Ver servicio</a>
                </div>
            </div>
        </div>
    </li>
    ##filaServicio##
</ul>