<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>##tituloWeb##</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Bootstrap core CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <style>
    body{
      background-color: #faf3dd;
    }
    .login, #botonAnadirServicio{
      background-color: #ffa69e;
    }
    #botonAnadirServicio{
      color: black;
    }
    #botonAnadirServicio:hover, .login:hover{
      background-color: #c77e7b;
    }
    .dropdown-menu, .formNuevoServicio{
      background-color: #b8f2e6;
    }
    .dropdown-item:hover{
      background-color: #8ab8ad;
    }
    .navbar, .footer{
      background-color: #aed9e0;
    }
  </style>
</head>
<body>
##header##
<div class="container-fluid my-5 justify-content-md-center w-75 pt-4 pb-5 formNuevoServicio border border-5">
  <form class="row g-3 was-validated" action="../controller/Controller.php" method="post">
    <input type="text" name="accion" value="nuevoServicio" hidden>
    <div class="row justify-content-md-center mt-3">
      <div class="col-md-4">
        <h1>Nuevo Servicio</h1>
      </div>
    </div>
    <div class="col-md-4">
      <label for="fNombreServicio" class="form-label">Nombre del servicio</label>
      <input name="nombreServicio" type="text" class="form-control" id="fNombreServicio" required>
      <div class="valid-feedback">Válido.</div>
      <div class="invalid-feedback">Por favor escriba un nombre.</div>
    </div>
    <div class="col-md-5">
      <label for="fCategoria" class="form-label">Categoría</label>
      <select name="categoriaServicio" id="fCategoria" class="form-select" required>
        <option selected disabled value="">Elige...</option>
        ##filaCategoriaPag##
        <option value=##categoriaId##>##nombreCategoria##</option>
        ##filaCategoriaPag##
      </select>
      <div class="valid-feedback">Válido.</div>
      <div class="invalid-feedback">Por favor elija una categoría.</div>
    </div>
    <div class="col-md-3">
      <label for="fPrecio" class="form-label">Precio</label>
      <input name="precioServicio" type="number" step="any" class="form-control" id="fPrecio" required>
      <div class="valid-feedback">Válido.</div>
      <div class="invalid-feedback">Por favor escriba un precio por hora(En euros).</div>
    </div>
    <div class="col-12">
      <label for="fDescripcion" class="form-label">Descripción</label>
      <textarea name="descripcionServicio" class="form-control" id="fDescripcion" rows="5" required></textarea>
      <div class="valid-feedback">Válido.</div>
      <div class="invalid-feedback">Por favor escriba una descripción.</div>
    </div>
    <div class="row justify-content-md-center mt-3">
      <div class="col-sm-12 col-lg-3">
        <input type="submit" class="btn btn-dark btn-lg" id="botonAnadirServicio" style="padding-left: 2.5rem; padding-right: 2.5rem;" value="Añadir Servicio"/>
      </div>
    </div>
  </form>
</div>
<footer class="bg-light text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3 footer">
    © 2022 Copyright: Alpaca
  </div>
  <!-- Copyright -->
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>